<%= content_for :page_title, "UCAS administrator" %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_ucas_contacts_path(@provider.provider_code)) %>
<% end %>
<% content_for :after_content do %>
  <%= govuk_back_link_to(provider_ucas_contacts_path(@provider.provider_code)) %>
<% end %>
<h1 class="govuk-heading-xl" data-qa="ucas_contacts__admin_contact__main_heading">
  UCAS administrator
</h1>

<div class="govuk-grid-row add-top-margin">
  <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">This person is responsible for creating and maintaining UCAS user&nbsp;accounts.</p>

      <h2 class="govuk-heading-l">Request a change to your UCAS administrator</h2>

      <p class="govuk-body">Changes can take up to 7 days to process.</p>

        <%= form_with model: @provider, url: admin_contact_provider_ucas_contacts_path(@provider.provider_code), data: { qa: 'ucas_contacts__admin_details_form' } do |form| %>
        <div class="govuk-form-group">
           <%= render "shared/form_field",
             form: form, field: :name do |field, options| %>
             <%binding.pry%>
             <%= form.text_field field, options.merge(class: 'govuk-input govuk-!-width-one-half', value: @provider.admin_contact_name)%>
           <% end %>
        </div>

        <div class="govuk-form-group ">
          <%= render 'shared/error_messages', field: :share_with_ucas_permission %>
          <div class="govuk-checkboxes" data-module="checkboxes">
            <div class="govuk-checkboxes__item">
              <%= form.check_box :share_with_ucas_permission,
                                    checked: false,
                                    class: 'govuk-checkboxes__input',
                                    data: { qa: 'ucas_contacts__share_with_ucas_permission'}
              %>
              <%= form.label :share_with_ucas_permission,
                             "I give permission to share this email address with UCAS",
                             value: "all",
                             class: 'govuk-label govuk-checkboxes__label' %>
            </div>
          </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--l">

        <%= form.submit "Save", class: "govuk-button", data: { qa: 'course__save' } %>

      <% end %>

      <div class="form-group add-double-bottom-margin">
        <input type="submit" class="govuk-button" value="Request changes">
      </div>
      <p class="govuk-body">
        <%= link_to 'Cancel changes', provider_ucas_contacts_path(@provider.provider_code), class: "govuk-link govuk-link--no-visited-state" %>
      </p>
  </div>
</div>
